<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Kode verifikasi </h1>
    <p>kode verifikasi kamu adalah : {{otp_code}} </p>
</body>
</html>